{% extends 'base.html' %} <!--Uses base.html as a base!-->

{% block head %}
<title>Stream Test</title>
<style>
    body {
        margin: 0;
        overflow: hidden;
    }
    canvas {
        display: block;
        margin: auto;
        border: solid 1px black;
    }   
    p {
        color: black;
    }

</style>
{% endblock %}

{% block body %}
<canvas id="Canvas"> </canvas>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="{{url_for('static', filename='sockettest.js')}}"></script>
 
{% endblock %}