{% extends 'base.html' %} <!--Uses base.html as a base!-->

{% block head %}
<title>Stream Test</title>
{% endblock %}

{% block body %}

<style>
    #container {
        width: 400px;
        height: 400px;
        background-color: black;
        position:absolute;
    }

    #particle1 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(255, 0, 0);
        position: absolute;
    }
    #particle2 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: aqua;
        position: absolute;
    }
</style>

<p> x-coord: <span id="x"></span></p>
<button onclick="stopStream()">Stop Stream</button>

<div id = container></div>
<div id = "particle1"></div>
<div id = "particle2"></div>

<script type="text/javascript">
    var eventSource = new EventSource("/stream");
    eventSource.onmessage = function(event) {
        var dataArray = JSON.parse(event.data);
        document.getElementById("x").textContent = dataArray[0]
        var elem1 = document.getElementById("particle1");
        elem1.style.left = dataArray[0][0] + "px";
        elem1.style.top = dataArray[0][1] + 50 + "px";
        var elem2 = document.getElementById("particle2");
        elem2.style.left = dataArray[1][0] + "px";
        elem2.style.top = dataArray[1][1] +50 + "px";
    }

    function stopStream(){
        eventSource.close();
    }
</script>



{% endblock %}